<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>

</head>
<body>

<b>Welcome to Java developer page</b>

<h1 align="center" style="color: aqua"> Spring Boot </h1>
<h2> Spring Boot </h2>
<h3> Spring Boot </h3>
<h4> Spring Boot </h4>
<h5> Spring Boot </h5>
<h6> Spring Boot </h6>

<img src="Java.png" alt="Spring Boot Image">
<ul>
    <li>Java</li>
    <li>MVC</li>
    <li>ORM</li>
</ul>

<a href="http://cydeo.com">Cydeo</a>
<br>
<br>
<table>

    <tr>
        <td> Name </td>
        <td> Surname </td>
        <td> Salary </td>
    </tr>
    <tr>
        <td>Mike</td>
        <td>Smith</td>
        <td>120000</td>
    </tr>

</table>

<br>
<label>Username: </label>
<input type="text" name="username: ">
<br>
<br>
<label>Password:</label>
<input type="password" name="username: ">
<br>
<label>Enter your comments</label>
<textarea name="comments"></textarea>

<br>
<br>
<label>Please select your gender</label>
<input type="radio" name="gender" value="male"> Male
<input type="radio" name="gender" value="female"> Female
<input type="radio" name="gender" value="other"> Other
<br>
<br>
<label>Please select your favorite Class</label>
<input type="checkbox" name="class" value="spring">Spring
<input type="checkbox" name="class" value="ds">DS
<input type="checkbox" name="class" value="java">Java

<br>
<br>
<label>Please select your program</label>
<select>
    <option label="us">US</option>
    <option label="eu">EU</option>
    <option label="other">Other</option>
</select>
<br>
<br>
<form action="#" method="get">

    Firstname: <input type="text" name="first_name">
    <br>
    Lastname: <input type="text" name="last_name">
    <br>
    <input type="button" value="submit">


</form>



</body>
</html>