<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>

<h2> Welcome to New Student </h2>

<!--Displaying Value-->
<h2 th:text="${students.get(0).firstName}"></h2>
<h2 th:text="${students.get(0).lastName}"></h2>

<!--Concatenation-->
<h2 th:text="${'Hello ' + students.get(0).firstName}"></h2>

<!--Link-->
<a th:href="@{https:cydeo.com}"> Cydeo </a><br>

<a th:href="@{/student/welcome}"> Go Welcome Page </a>

</body>
</html>